<ul class="list-unstyled">
    <li><a href="https://github.com/andyhansen"><i class="fa fa-github"></i> GitHub (andyhansen)</a></li>
    <li><a href="https://www.goodreads.com/user/show/58136349-andy-hansen"><i class="fa fa-book"></i> Goodreads (andy-hansen)</a></li>
    <li><a href="http://www.last.fm/user/GnastyGnorc"><i class="fa fa-lastfm"></i> last.fm (GnastyGnorc)</a></li>
    <li><a href="https://twitter.com/RinkyDinkHansen"><i class="fa fa-twitter"></i> Twitter (RinkyDinkHansen)</a></li>
</ul>   